* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: karla, sans-serif;
  }
.header{
  margin: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding-left: 29px;
  padding-right: 26px;
}

main {
  padding: 36px;
}
.header--logo {
  width: 32px;
  height: 27px;
  margin-right: 9px;
}

.header--title {
  margin-right: auto;
  font-size: 20px;
}
.header--project {
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--inputs {
  font-family: karla, sans-serif;
  border-radius: 5px;
  border:  1px solid #D1D5DB;
  text-indent: 5px;
}
.form--button {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border-radius: 5px;
  border: none;

}
.random--image--container {
  background: whitesmoke;
  color: black;
}
.form--button:active {
  box-shadow: 0 6px 8px #666;
  transform: translateY(2px);
}
.form--img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 800px;
  height: 800 px;
}
.image--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.random--image {
  margin: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 2px;
}
