* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: karla, sans-serif;
}
.header{
  margin: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding-left: 29px;
  padding-right: 26px;
}


.header--logo {
  width: 32px;
  height: 27px;
  margin-right: 9px;
}

.header--title {
  margin-right: auto;
  font-size: 20px;
}
.header--project {
  font-size: 12px;
  font-weight: 500;
}


.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 36px;
}

.form--button {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}
